body, html, #cnvs {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d9e9f7, #f9faf0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d9e9f7, #f9faf0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
}

.splash a:link, a:visited {
  color:  #2F4F4F;
}
.splash-main b {
  background: #2F4F4F;
  color: black;
  padding: 0 4px;
}

.splash {
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
  width: 100%;
  max-width: 700px;
  overflow: auto;
}

button.splash-button {
  cursor: pointer;
  margin: 40px auto;
  padding: 14px;
  font-family: inherit;
  font-size: 22px;
  display: block;
  border: 2px solid #2F4F4F;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2F4F4F;
  text-align: center;
  transition: background-color 0.2s linear;
  width: 200px;
}

button.splash-button:hover {
  background-color: #2F4F4F;
  color: black;
}

button.splash-button.small {
  padding: 8px;
  font-size: 16px;
}

.splash-button.loading span {
  animation: pulsing-fade 1.2s ease-in-out infinite;
}



.modes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modes button {
  width: 60px;
  height: 30px;
  margin: 20px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  border-radius: 5px;
  font-size: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.modes button:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#hint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  pointer-events: none;
  transition: opacity 0.5s ease-in;
}
#hint.gone {
  opacity: 0;
}
